* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 250px;
  height: 500px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #36393f;
  color: white;
}

.center {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

.title {
  padding-top: 25px;
  font-size: 24px;
  position: absolute;
  right: 50px;
}

.option {
  width: 225px;
  position: absolute;
  right: 0px;
  text-align: center;
  background-color: #2f3136;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.option_menu {
  background-color: #2f3136;
  width: 250px;
  height: 525px;
  position: absolute;
  top: -25px;
}
